/* Color de fondo general de la pagina y fuente */
* {
    background-color: rgb(170, 185, 212);
    font-family: 'Playfair Display', serif;
}

p {
    text-align: center;
}

.bio {
    text-decoration: none;
}

.bio:focus {
    font-size: 20px;
}
/* Navegador sin subrayado y tamaño */
.naveg {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between ;
    background-color: #333;
}

.naveg a {
  color: white;
  background-color: #333;
  font-size: 25px;
  padding: 5px 20px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: height 4s;
}

.naveg a:hover {
    background-color: #ddd;
    color: black;
    height: 50px;
}

h2 {
    display: flex;
    padding: 30px 30px 5px 30px;
    justify-content: center;
    font-size: 30px;
}

header > img {
    width: 100%;
    height: 500px;
}

iframe {
    width: 520px;
    height: 415px;;
}

img {
    width: 100%;
}