@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    background-color: rgb(170, 185, 212);
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
}

.gloss > h3 {
    padding: 10px;
}

/* Arreglar nav para movil, le agregue el wrap */
.naveg {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between ;
    background-color: #333;
    z-index: 999;    
    flex-wrap: wrap;
}

.naveg a {
  color: white;
  background-color: #333;
  font-size: 20px;
  padding: 5px 20px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: height 4s;
}

.naveg a:hover {
    background-color: #ddd;
    color: black;
    height: 40px;
    width: 100px;
}

@keyframes title {
    from {color: rgb(170, 185, 212);}
    to {color: rgb(21, 26, 26);}
  }

h1 {
    display: flex;
    padding: 105px 50px 10px 50px;
    justify-content: center;
    color:rgb(21, 26, 26);
    font-family: fantasy;
    font-size: 50px;
    animation-duration: 5s;
    animation-name: title;
}

h2 {
    display: flex;
    padding: 30px 30px 5px 30px;
    justify-content: center;
    font-size: 30px;
}

#rugby {
    display: block;
    margin: auto;
    text-align: center;
    width: 50%;
    height: auto;
}

ul {
    line-height: 20px;
}

.lista {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: justify;
    margin: 20px;
}

.lista > li {
    text-align: justify;
    margin: 35px;
    padding: 30px;
}

.lista > li > div {
    display: flex;
    width: 300px;
    height: 400px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(212, 215, 245);
}

::marker {
    color: rgb(70, 48, 110);
}

h3 {
    font-weight: 500;
    font-size: 25px;
}

li {
    background-color: rgb(212, 215, 245);
    padding: 15px;
}

strong {
    background-color: rgb(212, 215, 245);
}

img {
    width: 200px;
    height: 200px;
    padding: 0px;
    margin: 10px 20px;
    text-align: center;

}

.img1 {
    display: block;
    margin: auto;
    text-align: center;
    width: 50%;
    height: auto;
}

.jugador {
    width: 200px;
    height: 200px;
    margin: 10px 20px;
}

header > img {
    width: 100%;
    height: 500px;
}

iframe {
    width: 520px;
    height: 415px;;
}

.videos{
    padding: 0 120px;
    margin: 10px;
    background-color: rgb(212, 215, 245);
}

h4, #trys, #tackles {
    background-color: rgb(212, 215, 245);
}

.mundial {
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    opacity: 0.8;
}


.video-responsive {
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	padding-top: 30px;
	position: relative;
}

.video-responsive iframe, .video-responsive object, .video-responsive embed {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.boxinfo {
    display: flex;
    align-items: center;
    background-color: rgb(187, 195, 209);
}

.boxinfo label {
    width: 80px;
}

label, legend, .formu {
    background-color:rgb(187, 195, 209);
    margin: 20px;
}

.casilla {
    background-color:rgb(213, 212, 218);
}
    
.pinfo {
    background-color:rgb(213, 212, 218);
    width: 30%;
    transition: all ease-in 1s;
}
    
.pinfo:hover {
    width: 90%;
    transition: all ease-in 1s;
}
    
.botones {
    margin: 20px;
}

p {
    text-align: justify;
}

p#porta {
    text-align: center;
    font-size: 17px;
}

#intro, .preglo > p   {
    background-color: rgb(212, 215, 245); 
    text-align: justify;
    margin: 10px;
    padding: 10px;
}

.foot {
    font-size: 13px;
    font-style: italic;
    text-align: justify;
    color: white;
    padding: 30px 5px 5px 5px;
    background-color: rgb(63, 62, 62);
    text-align: center;
}

.linkfoot {
    background-color:rgb(63, 62, 62);
    color: white;
}

.biog > p, .biog > h3, .biog > ul, .biog > ol, .fig, .block-form {
    margin: 15px;
    padding: 10px;
}



